body {
  padding: 0px;
  margin: 0px;
  background: hsl(217, 100%, 97%);
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  font-weight: 400;
}

h2 {
  color: hsl(213, 96%, 18%);
  text-align: start;
}

p {
  color: hsl(231, 11%, 63%);
  font-weight: 350;
  text-align: start;
  line-height: 150%;
}

label {
  font-size: 12px;
  color: hsl(213, 96%, 18%);
}

.label-div {
  text-align: start;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 3px;
}

input:placeholder-shown {
  font-weight: 500;
  color: hsl(231, 8%, 55%);
}

.page-view-one-div,
.page-view-two-div,
.page-view-three-div {
  padding: 7px 0;
}

.view-steps {
  text-align: center;
  z-index: 5px;
}

.view-steps ul {
  padding: 10vw 0 0 0;
  margin: 0;
}

.li-style {
  padding: 7px 12px;
  margin: 10px;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.li-style-active {
  color: hsl(213, 96%, 18%);
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
}

.page-view-two-button,
.page-view-three-box {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0 13px 10px;
  margin: 0 0 10px 0;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  background-color: hsl(231, 100%, 99%);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  text-align: start;
}

.page-view-three-box {
  display: flex;
  justify-content: space-between;
  cursor: auto;
}

.page-view-four-box {
  border: none;
  margin: 0px;
  border-radius: 0px;
  display: flex;
  justify-content: space-between;
  cursor: auto;
  padding: 0;
  margin: 10px 0;
}

.page-view-two-button-active {
  background-color: hsl(217, 100%, 97%);
  border: 1px solid hsl(213, 96%, 18%);
}

.page-view-two-price,
.page-view-three-text {
  font-size: 12px;
  font-weight: 300;
  color: hsl(231, 11%, 63%);
  margin-left: 0px;
  text-align: left;
  line-height: 150%;
}

.page-view-three-price {
  margin-right: 20px;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
  color: hsl(243, 100%, 62%);
}

#change-button {
  background-color: hsl(240, 14%, 95%);
  border: none;
  padding-top: 5px;
  color: hsl(231, 11%, 63%);
  text-decoration: underline;
}

.page-view-four-style {
  background-color: hsl(240, 14%, 95%);
  border-radius: 10px;
  padding: 15px 15px 10px 15px;
}

.page-view-four-main-price {
  margin-top: 12px;
}

.page-view-four-addons,
.page-view-four-addons-price {
  font-size: 14px;
  font-weight: 400;
  color: hsl(231, 11%, 63%);
}

.page-view-four-addons-price {
  color: hsl(213, 96%, 18%);
}

hr {
  margin: 0px;
  color: hsl(229, 24%, 87%);
  border-top: 0;
  margin: 10px 0 15px 0;
}

.total-box-style {
  padding: 15px;
}

.page-view-two-div img {
  margin-right: 10px;
}

/* The checkbox container */
.container {
  display: block;
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-weight: 700;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 7px;
  left: 6px;
  height: 18px;
  width: 18px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 5px;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: hsl(243, 100%, 62%);
  border: 1px solid hsl(243, 100%, 62%);
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 5px;
  top: 3px;
  width: 5px;
  height: 7px;
  border: solid white;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.payment-period,
.period-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.payment-period {
  padding: 10px;
  background-color: hsl(217, 100%, 97%);
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 25px;
}

.period-button {
  background-color: hsl(213, 96%, 18%);
  border-radius: 45px;
  margin: 0 20px;
}

.button-active,
.button-inactive {
  content: "";
  width: 12px;
  height: 12px;
  margin: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button-active {
  background-color: hsl(0, 0%, 100%);
}

.button-inactive {
  background-color: hsl(213, 96%, 18%);
}

.period-label {
  color: hsl(231, 11%, 63%);
}

.main-button {
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
}

.main-button:hover {
  background-color: hsl(213, 97%, 28%);
}

.back-button {
  color: hsl(231, 11%, 63%);
  font-weight: 300;
  margin-left: 20px;
  background-color: hsl(231, 100%, 99%);
  border: none;
  cursor: pointer;
}

.page-view-five {
  text-align: center;
}

.page-view-five-title {
  text-align: center;
}

.thank-you-icon {
  width: 55px;
  height: auto;
  padding: 50px 0 15px 0;
}

@media only screen and (max-width: 700px) {
  .bg-sidebar-desktop {
    display: none;
  }

  .bg-sidebar-mobile {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -10;
  }

  .main-modal {
    position: absolute;
    top: 27vw;
    right: 15px;
    left: 15px;
    background-color: hsl(231, 100%, 99%);
    border-radius: 10px;
    padding: 25px;
    margin-bottom: 30px;
    box-shadow: 0px 15px 10px -10px hsl(218, 84%, 93%);
  }

  .li-style {
    display: inline;
    list-style-type: none;
  }

  .desktop-ul {
    display: none;
  }

  .footer {
    background: hsl(231, 100%, 99%);
    position: fixed;
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 70px;
    display: flex;
    align-items: center;
  }

  .main-button {
    position: absolute;
    right: 0px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 700px) {
  .desktop-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #fff;
    width: 70vw;
    height: fit-content;
    min-width: 600px;
    max-width: 1000px;
  }

  .desktop-view {
    display: flex;
    flex-direction: row;
  }

  .bg-sidebar-mobile {
    display: none;
  }

  .bg-sidebar-desktop {
    width: 95%;
    height: auto;
  }

  .li-style {
    list-style-type: none;
    margin: 25px;
  }

  .li-style-desktop {
    border: none;
    text-align: left;
    padding-bottom: 3px;
    padding-top: 3px;
  }

  .li-desktop-title {
    color: hsl(229, 24%, 87%);
    font-weight: 300;
  }

  .desktop-ul {
    left: 60px;
    font-size: 12px;
  }

  .view-steps ul {
    position: absolute;
    top: 0px;
    padding-top: 50px;
  }

  .form-view {
    display: flex;
    align-items: center;
    margin: auto;
    width: 50%;
  }

  form {
    padding: 30px;
    width: 100%;
    height: auto;
  }

  .main-button {
    float: right;
    margin-top: 10%;
  }

  .back-button {
    margin-left: 0px;
    margin-top: 12%;
  }

  .page-view-two-desktop {
    display: flex;
    flex-direction: row;
  }

  .page-view-two-title {
    margin-right: 10px;
  }

  .page-view-two-button {
    display: flex;
    flex-direction: column;
    margin: 0 5px;
  }

  .icon-desktop-style {
    margin-bottom: 15px;
  }
}
