body {
  padding: 0px;
  margin: 0px;
  background: hsl(217, 100%, 97%);
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  font-weight: 400;
}

h2 {
  color: hsl(213, 96%, 18%);
  text-align: start;
}

p {
  color: hsl(231, 11%, 63%);
  font-weight: 350;
  text-align: start;
  line-height: 150%;
}

label {
  font-size: 12px;
  color: hsl(213, 96%, 18%);
}

.label-div {
  text-align: start;
}

input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 0 10px 10px;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 3px;
}

input:placeholder-shown {
  font-weight: 500;
  color: hsl(231, 8%, 55%);
}

.page-view-one-div,
.page-view-two-div {
  padding: 7px 0;
}

.view-steps {
  text-align: center;
  z-index: 5px;
}

.view-steps ul {
  padding: 10vw 0 0 0;
  margin: 0;
}

.li-style {
  padding: 9px 12px;
  margin: 10px;
  color: hsl(0, 0%, 100%);
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}

.li-style-active {
  color: hsl(213, 96%, 18%);
  border: 1px solid hsl(213, 96%, 18%);
  background-color: hsl(206, 94%, 87%);
}

.page-view-two-div button {
  box-sizing: border-box;
  width: 100%;
  padding: 13px 0 13px 10px;
  margin: 0 0 10px 0;
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 6px;
  font-size: 16px;
  font-weight: 700;
  color: hsl(213, 96%, 18%);
  background-color: hsl(231, 100%, 99%);
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.page-view-two-div button:focus {
  background-color: hsl(217, 100%, 97%);
  border: 1px solid hsl(213, 96%, 18%);
}

.page-view-two-price {
  font-size: 14px;
  font-weight: 400;
  color: hsl(231, 11%, 63%);
  margin-left: 0px;
  text-align: left;
}

.page-view-two-div img {
  margin-right: 10px;
}

.payment-period,
.period-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.payment-period {
  padding: 10px;
  background-color: hsl(217, 100%, 97%);
  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  margin-top: 25px;
}

.period-button {
  background-color: hsl(213, 96%, 18%);
  border-radius: 45px;
  margin: 0 20px;
}

.button-active,
.button-inactive {
  content: "";
  width: 12px;
  height: 12px;
  margin: 6px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.button-active {
  background-color: hsl(0, 0%, 100%);
}

.button-inactive {
  background-color: hsl(213, 96%, 18%);
}

.period-label {
  color: hsl(231, 11%, 63%);
}

.main-button {
  background-color: hsl(213, 96%, 18%);
  color: hsl(0, 0%, 100%);
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.main-button:hover {
  background-color: hsl(213, 97%, 28%);
}

.back-button {
  color: hsl(231, 11%, 63%);
  font-weight: 300;
  margin-left: 20px;
  background-color: hsl(231, 100%, 99%);
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 600px) {
  .bg-sidebar-desktop {
    display: none;
  }

  .bg-sidebar-mobile {
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -10;
  }

  .main-modal {
    position: absolute;
    top: 27vw;
    right: 15px;
    left: 15px;
    background-color: hsl(231, 100%, 99%);
    border-radius: 10px;
    padding: 25px;
    box-shadow: 0px 15px 10px -10px hsl(218, 84%, 93%);
    text-align: center; /* check if this is needed? */
  }
  .li-style {
    display: inline;
    list-style-type: none;
  }

  .footer {
    background: hsl(231, 100%, 99%);
    position: absolute;
    width: 100%;
    bottom: 0px;
    height: 70px;
    display: flex;
    align-items: center;
  }

  .main-button {
    position: absolute;
    right: 0px;
    margin-right: 20px;
  }
}

@media only screen and (min-width: 600px) {
  .desktop-view {
    display: flex;
    flex-direction: row;
  }

  .bg-sidebar-mobile {
    display: none;
  }

  .view-steps ul {
    position: absolute;
    top: 0px;
  }
}
